@model InfoSystem.Web.Models.CompetitionSeason.CompetitionSeasonCreateModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_SubpageLayout.cshtml";
}

<h1>Create</h1>

<h4>Competition Season</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        @using (Html.BeginForm("Create", "CompetitionSeason", FormMethod.Post))
        {

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PictureStoreUri" class="control-label"></label>
                <input asp-for="PictureStoreUri" class="form-control" />
                <span asp-validation-for="PictureStoreUri" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OfficialName" class="control-label"></label>
                <input asp-for="OfficialName" class="form-control" />
                <span asp-validation-for="OfficialName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Start" class="control-label"></label>
                @Html.TextBoxFor(model => model.Start, DateTime.Now.ToString("g"), new { @class = "datepicker" })
                <span asp-validation-for="Start" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="End" class="control-label"></label>
                @Html.TextBoxFor(model => model.End, DateTime.Now.ToString("g"), new { @class = "datepicker" })
                <span asp-validation-for="End" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="JournalistRegistrationStart" class="control-label"></label>
                @Html.TextBoxFor(model => model.JournalistRegistrationStart, DateTime.Now.ToString("g"), new { @class = "datepicker" })
                <span asp-validation-for="JournalistRegistrationStart" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="JournalistRegistrationEnd" class="control-label"></label>
                @Html.TextBoxFor(model => model.JournalistRegistrationEnd, DateTime.Now.ToString("g"), new { @class = "datepicker" })
                <span asp-validation-for="JournalistRegistrationEnd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="JournalistUploadFotoDeadline" class="control-label"></label>
                @Html.TextBoxFor(model => model.JournalistUploadFotoDeadline, DateTime.Now.ToString("g"), new { @class = "datepicker" })
                <span asp-validation-for="JournalistUploadFotoDeadline" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SelectedSeasonId" class="control-label"></label>
                @Html.DropDownListFor(model => model.SelectedSeasonId, Model.SeasonItems)
                <span asp-validation-for="SelectedSeasonId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        }
    </div>
</div>

<link href="~/lib/jquery-datetimepicker/jquery.datetimepicker.css" rel="stylesheet" />
@section Scripts {
    <script src="~/lib/jquery-datetimepicker/build/jquery.datetimepicker.full.js"></script>
    <script>
            $(function () {
                $(".datepicker").datetimepicker({
                    changeYear: true,
                    changeMonth: true,
                    minDate: new Date(@DateTime.Today.Year,@DateTime.Today.Month-1,@DateTime.Today.Day),
                    lang: 'cs',
                    formatTime:'H:i',
                    formatDate: 'd.m.Y',
                    format: "d.m.Y H:i",
                    defaultTime: '10:00',
                    step: 60,
                });

            });
    </script>
}